
$font: #fbfbfe;
$bg: #202433;
$dark: #0c0e14;
$highlight: #c50ed2;
$highlight-dark: #4b0d54;
$input-field: #42414d;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// mabeppe.html

* {
    padding: 0;
    margin: 0;
}

body {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $bg;
    background: radial-gradient(circle, $bg 50%, $dark 100%);
    color: $font;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
a
{
    font-size: 5em;
    color: $font;
    text-decoration: none;
    margin: 0.25em;
    text-shadow: 6px 5px $dark;
}
p
{
    font-size: 5em;
    margin: 0.25em;
    text-align: center;
    text-shadow: 6px 5px $dark;
}
button
{
    background-color: $input-field;
    border-color: $dark;
    color: $font;
    border-radius: 0.5em;
    padding: 0.25em;
    font-size: 3em;
    border-style: solid;
    transition: 0.1s;
    cursor: pointer;
    margin: 0.25em;
    box-shadow: 11px 10px 18px 0px $dark;

}
button:hover
{
    transition: 0.2s;
    scale: 1.05;
    box-shadow: 11px 10px 18px 3px $dark;
}
button:active
{
    transition: 0.05s;
    scale: 1.1;
    background-color: $highlight-dark;
    border-color: $highlight;
    color: $font;
    box-shadow: 11px 10px 18px 5px $dark;
}

img
{
    border-radius: 1em;
    box-shadow: 11px 10px 18px 0px $dark;
}

input
{
    background-color: $input-field;
    border-color: $dark;
    color: $font;
    border-radius: 0.5em;
    padding: 0.25em;
    font-size: 3em;
    border-style: solid;
    border-width: 0.1em;
    transition: 0.1s;
    margin: 0.25em;
    box-shadow: 11px 10px 18px 0px rgba(0,0,0,0.46);
}